/*
Body portion
*/
body{
    background-image: url("./../img/circles-dark.png");
}
h1, h2, h3{
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-weight: bolder;
}
p{
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
/****************************************
            Header portion
****************************************/
.header{
    padding: 0;
    border-bottom: 4px solid #cccccc;
    margin-bottom: 50px;
    background: #ffffff!important;
}
.title{
    padding: 20px;
    width: 150px;
    margin:auto;
    background: #4aaaa5;
    color:white;
    font-size:3em;
    text-align: center;
}
.navbar{
    background:  white;
    border-bottom: 4px solid #cccccc;
    margin-bottom: 50px;
}
.navbar-nav{
    flex-direction: row;
}
.navbar-nav .nav-link{
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.navbar-nav li{
    border-right: 1px solid lightgray;
}
li:last-child{
    border:none;
}
/*Reset padding for navbar*/
.navbar, .navbar-brand{
    padding-top: 0;
    padding-bottom: 0;
}
/**************************/
/*
Content
*/
.content{
    background:white;
    overflow: auto;
    padding:50px;
}
.content h2{
    font-size: 1.8em;
    color: #4aaaa5;
}
.content img{
    width: 50%;
    float: left;
    margin: 15px 15px 15px 0;
}
.content p{
    line-height: 1.8em;
    margin-top: 20px;
    font-size: 1.8em;
    color: gray;
}
.content::after{
    clear: left;
}
.contact{
    width: 270px;
    margin: auto;
    background:#ffffff;
    padding:20px;
    overflow: auto;
}
.contact hr{
    padding:1px;
    border: none;
    background: lightgray;
    margin: 10px 0;
}
.contact h3{
    font-size: 1.2em;
    text-align: left;
    color: #4aaaa5;
}
.contact img{
    width: 70px;
    margin: 0 10px 0 0;
    float: left;
}
.contact img:last-child{
    margin-right: 0;
}
.contact img:last-child::after{
    display: block;
    clear: left;
}
.contact::after{
    display: block;
    clear: left;
}
footer{
    
    height:100px;
    margin-top: 40px;
    padding: 40px;
    background: #5c5c5c;
    border-top: 10px solid #4aaaa5;
    text-align: center;
}
footer h3{
    color: lightgray;
}