.custom{
    
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.col-modified{
    padding: 0 10px;
    margin-bottom: 15px;
}
#image1{
    background-image: url("./../img/1.jpg");
}
#image2{
    background-image: url("./../img/2.jpg");
}
#image3{
    background-image: url("./../img/3.jpg");
}
#image4{
    background-image: url("./../img/4.jpg");
}
#image5{
    background-image: url("./../img/5.jpg");
}
.tag{
    position: absolute;
    padding: 10px;
    height: 40px;
    width:100%;
    background: #4aaaa5;
    bottom: 15px;
}
.content h3{
    text-align: center;
    font-size: 1.2em;
    color: #ffffff;
}